<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Hola desde html, mi nombre es Achu </p>
 <!-- Ej para 2do challenge -->
 <!-- Hacemos la tarjetita de un animal o personaje -->
    <h1>
        Nombre: hapi cat
    </h1>
    
    <h2>
        Especie: best meme ever
    </h2>
    
    <img src="https://steamuserimages-a.akamaihd.net/ugc/2071133537172165896/EA0C3DCC21FC2DD65C5680CF411A7349F988D8BD/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="hapi cat meme" >
    
</body>
</html>
